/* @import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Electrolize&family=Fredoka+One&family=VT323&family=ZCOOL+QingKe+HuangYou&display=swap"); */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Electrolize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: auto;
  background: rgb(131, 58, 180);
  background: radial-gradient(rgb(63, 76, 192) 0%, rgb(103, 98, 105) 100%);
}

div.calculator-container {
  display: flex;
  flex-direction: column;
  max-width: 444px;
  background: #888888;
  border-radius: 8px;
  box-shadow: 8px 8px 8px black;
}
div.keyboard-container {
  min-width: 400px;
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
}
div.keyboard-btns-num-constainer {
  width: 252px;
  display: flex;
  flex-wrap: wrap;
}
.keyboard-btns-fun-constainer {
  width: 172px;
  display: flex;
  flex-wrap: wrap;
}

.keyboard-btns-num,
.keyboard-btns-fun {
  width: 80px;
  height: 80px;
  background: rgb(78, 75, 95);
  color: #e2e2e2;
  font-size: 1.5rem;
  border-radius: 4px;
  margin: 2px;
  box-shadow: 2px 2px 2px black;
  transition: 0.9s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.keyboard-btns-fun:nth-child(1) {
  background: rgb(219, 135, 0);
}
.keyboard-btns-fun:nth-child(1):hover {
  background: rgb(255, 158, 1);
}
.keyboard-btns-fun:nth-child(2) {
  background: rgb(175, 0, 0);
}
.keyboard-btns-fun:nth-child(2):hover {
  background: rgb(224, 0, 0);
}
.keyboard-btns-fun:nth-child(3),
.keyboard-btns-fun:nth-child(4),
.keyboard-btns-fun:nth-child(5),
.keyboard-btns-fun:nth-child(6) {
  background: rgb(55, 55, 56);
  font-size: 2.5rem;
}
.keyboard-btns-fun:nth-child(3):hover,
.keyboard-btns-fun:nth-child(4):hover,
.keyboard-btns-fun:nth-child(5):hover,
.keyboard-btns-fun:nth-child(6):hover {
  background: rgb(74, 74, 78);
}
.keyboard-btns-num-zero {
  min-width: 164px;
  min-height: 80px;
  background: rgb(78, 75, 95);
  color: #e2e2e2;
  font-size: 1.5rem;
  border-radius: 4px;
  margin: 2px;
  box-shadow: 2px 2px 2px black;
  transition: 0.9s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.keyboard-btns-fun-equals {
  min-width: 164px;
  min-height: 80px;
  background: rgb(19, 128, 19);
  color: #e2e2e2;
  font-size: 2.5rem;
  border-radius: 4px;
  margin: 2px;
  box-shadow: 2px 2px 2px black;
  transition: 0.9s;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.keyboard-btns-fun-equals:hover {
  background: rgb(32, 153, 32);
  color: #e2e2e2;
}
button:hover,
div.keyboard-btns-num:hover,
div.keyboard-btns-fun:hover,
div.keyboard-btns-num-zero:hover {
  background: rgb(101, 96, 129);
}
div.display-container {
  display: flex;
  max-height: 150px;
  flex-direction: column;
  padding: 15px 15px;
}
div.display-wrapper {
  color: #e2e2e2;
  background: #b3b692;
  box-shadow: inset 2px 2px 4px black;
}
div.display-result {
  display: flex;
  padding: 0;
  margin: 0;
  height: 70px;
  font-family: Electrolize;
  letter-spacing: -3px;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}
.display-result > h3 {
  margin: 0;
  margin-right: 3px;
  padding: 0;
  font-size: 4rem;
  font-weight: 800;
  overflow-x: hidden;
  color: #313131;
}
div.display-history {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  min-height: 20px;
  font-family: Electrolize;
  /* letter-spacing: -1px; */
  text-align: right;
  text-overflow: ellipsis;
  justify-content: flex-end;
  overflow: hidden;
}
.display-history > p {
  margin: 0;
  margin-right: 3px;
  padding: 0;
  font-size: 16px;
  color: #000000;
  overflow-x: hidden;
}
